.pinsList__container {
  columns: 8 215px;
  column-gap: 44px;
  margin: 0 32px;
}

.pinsList__title {
  margin: 12px 32px;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
